{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block header %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Index{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ search_uchastnik_form.media }}
    {% endblock %}
  </head>
  <body>
    {% if search_uchastnik_form %}
    {% include 'header.html' with search_uchastnik_form=search_uchastnik_form %}
    {% endif %}

    {% block content %}
    {% if person_name %}
    <span>Hello! {{ person_name }}</span>
    {% endif %}
    {% endblock %}
  </body>
</html>
