{% extends 'index.html' %}

{% block title %}Search{% endblock %}

{% block content %}
{% if queryset %}
<table class="table">
  <thead>
    <tr>
      <th>Uchastnik</th>
      <th>StoronaPoDeluCount</th>
    </tr>
  </thead>
  <tbody>
    {% for value in queryset %}
    <tr>
      <td>{{ value.uchastnik }}</td>
      <td>{{ value.storonapodelu_set.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}